<div class="players-container">
  <h1>NBA Players</h1>
  <div class="search-container">
    <input
      type="text"
      placeholder="Search Players..."
      (input)="searchPlayers($event)"
    />
  </div>
  <p *ngIf="loading">Loading players...</p>
  <div *ngIf="!loading && players.length > 0">
    <ul>
      <li *ngFor="let player of players">
        <strong>{{ player.first_name }} {{ player.last_name }}</strong> - {{ player.team?.full_name || 'No Team' }}
      </li>
    </ul>
    <div class="pagination">
      <button *ngIf="previousCursor" (click)="fetchPlayers(previousCursor)">Previous</button>
      <button *ngIf="nextCursor" (click)="fetchPlayers(nextCursor)">Next</button>
    </div>    
  </div>
  <p *ngIf="!loading && players.length === 0">No players found.</p>
</div>
